---
import checkmarkImg from "../../../../assets/svg/checkmark.svg";
import xMarkImg from "../../../../assets/svg/x.svg";
import IconAndLabel from "../../../../components/IconAndLabel/IconAndLabel.astro";
import "./ExpeditionDetailsIncluded.less";
const {data} = Astro.props;
import { t } from "i18next";
---
<!-- ============================================ -->
<!--  	   Expedition Details - Included          -->
<!-- ============================================ -->
<section class="exped-details-section" id="included">
	<div class="container">
        <h2 class="exped-details-section-title" set:html={t("common.whats-included")} />
        <div class="exped-details-included-line">
            <p class="subtitle">{t("common.pick-up")}</p>
            <p class="text">{data.pickup}</p>
        </div>
        <div class="exped-details-included-line">
            <p class="subtitle">{t("common.drop-off")}</p>
            <p class="text">{data.dropoff}</p>
        </div>
        <div class="exped-details-included-line included-list-container">
            <p class="subtitle">{t("common.included")}</p>
            <ul class="exped-details-included-list">
                {
                    data.includedList.map(
                        item => <IconAndLabel 
                                    value={item} 
                                    imgSrc={checkmarkImg}
                                />
                    )
                }
            </ul>
            
        </div>
        <div class="exped-details-included-line included-list-container">
            <p class="subtitle">{t("common.not-included")}</p>
            <ul class="exped-details-included-list">
                {
                    data.notIncludedList.map(
                        item => <IconAndLabel 
                                    value={item} 
                                    imgSrc={xMarkImg}
                                />
                    )
                }
            </ul>
            
        </div>

	</div>
</section>
