---
import "./ExpeditionDetailsOverview.less";
import IconLabelValue from "../../../../components/IconLabelValue/IconLabelValue.astro";
import locationSVG from "../../../../assets/svg/location.svg";
import clockSVG from "../../../../assets/svg/clock.svg";
import difficultySVG from "../../../../assets/svg/difficulty.svg";
import altitudeSVG from "../../../../assets/svg/altitude.svg";
import hikerSVG from "../../../../assets/svg/hiker.svg";
import calendarSVG from "../../../../assets/svg/calendar.svg";
import smileySVG from "../../../../assets/svg/smiley.svg";
import ExpeditionDetailsInfoCard from "../../../../components/ExpeditionDetailsInfoCard/ExpeditionDetailsInfoCard.astro";
const {data} = Astro.props;
import { t } from "i18next";
---
<section id="overview" class="exped-details-section">
	<div class="container">
		<div class="exped-details-overview-content">
			<h2 class="exped-details-section-title">{t("common.overview")}</h2>
			<IconLabelValue
				type="column"
				label={t("common.location")}
				value={data.location}
				imgSrc={locationSVG}
			/>
			<IconLabelValue
				type="column"
				label={t("common.duration")}
				value={data.duration}
				imgSrc={clockSVG}
			/>
			<IconLabelValue
				type="column"
				label={t("common.difficulty")}
				value={data.difficulty}
				imgSrc={difficultySVG}
			/>
			<IconLabelValue
				type="column"
				label={t("common.altitude")}
				value={data.altitude}
				imgSrc={altitudeSVG}
			/>
			<IconLabelValue
				type="column"
				label={t("common.daily-activity")}
				value={data.dailyActivity}
				imgSrc={hikerSVG}
			/>
			<IconLabelValue
				type="column"
				label={t("common.season")}
				value={data.season}
				imgSrc={calendarSVG}
			/>
			<ExpeditionDetailsInfoCard
				iconSVG={smileySVG}
				iconPosition="top"
				title={t("expeditions:expeditions.details.your-profile.title")}
				text={t("expeditions:expeditions.details.your-profile.text")}
			/>
		</div>
	</div>
</section>
