---
import "./ExpeditionDetailsLayout.less";
import BaseLayout from "../../BaseLayout.astro";
import HeroLayout from "../../HeroLayout/HeroLayout.astro";
import SelectDropDown from "../../../components/SelectDropDown/SelectDropDown.astro";
import ExpeditionDetailsSideBar from "../../../components/ExpeditionDetailsSideBar/ExpeditionDetailsSideBar.astro";
import ExpeditionDetailsOverview from "./ExpeditionDetailsOverview/ExpeditionDetailsOverview.astro";
import ExpeditionDetailsIncluded from "./ExpeditionDetailsIncluded/ExpeditionDetailsIncluded.astro";
import ExpeditionDetailsItinerary from "./ExpeditionDetailsItinerary/ExpeditionDetailsItinerary.astro";
import ExpeditionDetailsCost from "./ExpeditionDetailsCost/ExpeditionDetailsCost.astro";
import ExpeditionDetailsGallery from "./ExpeditionDetailsGallery/ExpeditionDetailsGallery.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout>
    <HeroLayout
		heroSection="huayhuash-circuit"
		heroTitle1="Huayhuash Circuit"
		heroTitle2="Trek"
		heroImg="homepage"
	/>
	<section id="exped-details-container">
		<ExpeditionDetailsSideBar />
		<section id="exped-details-sections-container">

			<!--<div id="exped-details-select" class="exped-details-section">
				<div class="container">
					<SelectDropDown
						name="expedition-details-sidebar"
						label="Jump to"
					/>
				</div>
			</div>
		-->
			<ExpeditionDetailsOverview frontmatter={frontmatter} />
			<ExpeditionDetailsIncluded frontmatter={frontmatter} />
			<ExpeditionDetailsItinerary frontmatter={frontmatter} />
			<ExpeditionDetailsCost frontmatter={frontmatter} />
			<ExpeditionDetailsGallery frontmatter={frontmatter} />
		</section>
	</section>
</BaseLayout>