---
import "./ExpeditionDetailsItinerary.less";
import { Image } from "astro:assets";
import mountainImg from "../../../../assets/images/aboutHeroImg.jpg";
import ExpeditionDetailsInfoCard from "../../../../components/ExpeditionDetailsInfoCard/ExpeditionDetailsInfoCard.astro";
import SeeAllButton from "../../../../components/SeeAllButton/SeeAllButton.astro";
import SeeLessButton from "../../../../components/SeeLessButton/SeeLessButton.astro";
import mapImg from "../../../../assets/images/itinerary-map.png";
import lightbulbSVG from "../../../../assets/svg/lightbulb.svg";
import ImgCardwithOverlayAndBtn from "../../../../components/ImgCardwithOverlayAndBtn/ImgCardwithOverlayAndBtn.astro";
const {data} = Astro.props;
import { localizePath } from "astro-i18next";
import { t } from "i18next";
---
<!-- ============================================ -->
<!-- 	   Expedition Details - Itinerary         -->
<!-- ============================================ -->
<section id="itinerary" class="exped-details-section">
	<div class="container">
		<h2 class="exped-details-section-title">{t("common.itinerary")}</h2>
		<Image 
			class="itinerary-map-img" 
			src={mapImg} 
			alt="Itinerary Map" 
			width={1000} 
			height={1000} 
		/>
		<ExpeditionDetailsInfoCard
			iconSVG={lightbulbSVG}
			iconPosition="bottom"
			title={t("expeditions:expeditions.details.our-philosophy.title")}
			text={t("expeditions:expeditions.details.our-philosophy.text")}
		/>
		<div class="exped-details-itinerary-steps-container">
			{
				data.itinerary.map(step => 
					<div class="exped-details-itinerary-step">
						<p class="itinerary-number topper">{step.stepNumber}</p>
						<p class="itinerary-name">{step.stepName}</p>
						<p class="text" set:html={step.stepDescription}></p>
					</div>	
				)
			}
			<SeeAllButton seeAllText={t("expeditions:expeditions.details.view-all-itinerary")} type="itinerary"/>
			<div id="extra-itinerary-container" class="exped-details-itinerary-steps-container">
			{
				data.extraItinerary.map(step => 
					<div class="exped-details-itinerary-step">
						<p class="itinerary-number topper">{step.stepNumber}</p>
						<p class="itinerary-name">{step.stepName}</p>
						<p class="text" set:html={step.stepDescription}></p>
					</div>	
				)
			}
			</div>
			<SeeLessButton seeLessText={t("common.see-less")} type="itinerary"/>
		</div>
		<ImgCardwithOverlayAndBtn url={localizePath("/about/#enquire")} cardClass="enquire-img" title={t("common.sound-exciting")} imgSrc={mountainImg}/>
	</div>
</section>
